<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="">
  	<meta name="author" content="">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  	<link rel="stylesheet" href="/stylesheets/normalize.css">
  	<!-- <link rel="stylesheet" href="/stylesheets/skeleton.css"> -->
  	<link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
    <script src="/javascripts/modernizr.custom.25376.js"></script>
  	<script data-require="jquery@2.1.1" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script data-require="traceur@*" data-semver="0.0.0-20140302" src="https://traceur-compiler.googlecode.com/git/bin/traceur.js"></script>
    <script data-require="traceur@*" data-semver="0.0.0-20140302" src="https://traceur-compiler.googlecode.com/git/src/bootstrap.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bluebird/1.2.2/bluebird.min.js"></script>
    <title>Query Interface</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
</head>
<script>

    function filter1(){
        var text1 = document.getElementById("1a1").value;

        if((text1.replace(/\s/g, "")).length==0){
            alert("Query not in format");
            return false;
        }

        if(text1.length>30) {
            alert("too long!");
            return false;
        }
    }    


</script>
<body>

  <body>
    <div id="perspective" class="perspective effect-movedown">
      <div class="container">
        <div class="wrapper"><!-- wrapper needed for scroll -->
          <!-- Top Navigation -->
          <div class="codrops-top clearfix">
            <a class="codrops-icon codrops-icon-prev" href="#"><span>nav</span></a>
            <span class="right"><a class="codrops-icon codrops-icon-drop" href="#">
              <span>nav</span></a></span>
          </div>
          <header class="codrops-header">
            <h1>Get Real time Rate  <span> 通过调用xignite XigniteGlobalCurrencies api实现汇率信息在网页上的动态显示</span></h1> 
          </header>
          <div class="main clearfix">
            <div class="column">
              <p><button id="showMenu">Navigator</button></p>
              <p>Search</p>
              
              <form id="ques1" action="/1" method="post" name="bbb">
                <h4>选择token：</h4>
                <select name="token">
                  <option value="B1A025CDCEC9481A8217AD212A4D6068">B1A025CDCEC9481A8217AD212A4D6068</option>
                  <option value="D4F701AED496461AB6B7E08F021E9557">D4F701AED496461AB6B7E08F021E9557</option>
                  <option value="0D3DA764DF454E38943049C8B967B5A3">0D3DA764DF454E38943049C8B967B5A3</option>
                </select>
                <h4>货币:</h4>
                <!-- <input id="1a1" type ="text" name ="promise"> -->
                
                <select name="money1">
                  <option value="volvo">USD</option>
                  <option value="saab">GBP</option>
                  <option value="fiat">RMB</option>
                  <option value="audi">HKB</option>
                </select>
                <select name="money2">
                  <option value="volvo">USD</option>
                  <option value="saab">GBP</option>
                  <option value="fiat">RMB</option>
                  <option value="audi">HKB</option>
                </select>
                <tr>
                <input type ="submit" value="Modify" onclick="return filter1();">
              </form>

            </div>
            <div class="column">
              <nav class="codrops-demos">
                <h1>Returned Results</h1>
                <div id="table-scroll">
                <table>
                  <thead>
                  <tr><th>BaseCurrency</th><th> QuoteCurrency</th><th>Date</th><th>Time</th><th>Bid</th><th>Mid</th><th>Ask</th></tr>
                  <tr><td><%= items[0].result %></td></tr>
                  </thead>
                  <tbody>
  
                  </tbody>
                </table>
              </div>
              
              </nav>
            </div>
            <div class="related">
              <p>All rights reserved by Shangshu Lu</p>
              <p><a href="#">Contact us</a></p>
              
            </div>
          </div><!-- /main -->
        </div><!-- wrapper -->
      </div><!-- /container -->
      <nav class="outer-nav top horizontal">
        <a href="/" class="icon-home">Sample1</a>
        <a href="/2a" class="icon-news">Sample2</a>
        <a href="/2b" class="icon-image">Sample3</a>
        <a href="/2c" class="icon-upload">Sample4</a>
        
      </nav>
    </div><!-- /perspective -->
    <script src="/javascripts/classie.js"></script>
    <script src="/javascripts/menu.js"></script>
  </body>
</html>