<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <!-- <link rel="stylesheet" href="/stylesheets/skeleton.css"> -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="/javascripts/streamdataio-auth.min.js"></script>
    <script type="/javascripts/streamdataio.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script data-require="jquery@2.1.1" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script data-require="bootstrap@*" data-semver="3.1.1" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fast-json-patch/0.5.1/json-patch-duplex.min.js" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/bluebird/1.2.2/bluebird.min.js"></script>
    <title>Query Interface</title>

</head>
<script>
    function filter1(){
        var text1 = document.getElementById("1a1").value;
        if((text1.replace(/\s/g, "")).length==0){
            alert("Query not in format");
            return false;
        }
        if(text1.length>30) {
            alert("too long!");
            return false;
        }
    }    
</script>
<body>

  <body>
    <div id="perspective" class="perspective effect-movedown">
      <div class="container">
        <div class="wrapper"><!-- wrapper needed for scroll -->
          <!-- Top Navigation -->
          <div class="codrops-top clearfix">
            
          </div>
          <header class="codrops-header">
            <h1>Get Real time Rate  <span> 通过调用xignite XigniteGlobalCurrencies api实现汇率信息在网页上的动态显示</span></h1> 
          </header>
          <div class="main clearfix">
            <div class="column">
              <p><button id="disconnect" type="button" onclick="disconnect()">Disconnect</button></p>
              <p><button id="connect" type="button" onclick="connect()">Connect</button></p>
              <p>Search</p>
               <div class="form-group">
                    <label for="inputUrl" class="col-sm-3 control-label">URL</label>
                    <div class="col-sm-8">
                        <input id="inputUrl" class="form-control" placeholder="Your JSON API Url" type="url" value="http://globalcurrencies.xignite.com/xGlobalCurrencies.json/GetRealTimeRate?Symbol=EURUSD&_token=0D3DA764DF454E38943049C8B967B5A3" required>
                    </div>
                </div>
              <form id="ques1" action="/1" method="post" name="bbb">
                <h4>选择token：</h4>
                <select name="token" id="inputToken">
                  <option value="B1A025CDCEC9481A8217AD212A4D6068">B1A025CDCEC9481A8217AD212A4D6068</option>
                  <option value="D4F701AED496461AB6B7E08F021E9557">D4F701AED496461AB6B7E08F021E9557</option>
                  <option value="0D3DA764DF454E38943049C8B967B5A3">0D3DA764DF454E38943049C8B967B5A3</option>
                </select>
                <h4>货币:</h4>
                <!-- <input id="1a1" type ="text" name ="promise"> -->
                
                <select name="money1">
                  <option value="USD">USD</option>
                  <option value="GBP">GBP</option>
                  <option value="RMB">RMB</option>
                  <option value="HKB">HKB</option>
                </select>
                <select name="money2">
                  <option value="USD">USD</option>
                  <option value="GBP">GBP</option>
                  <option value="RMB">RMB</option>
                  <option value="HKB">HKB</option>
                </select>
                <tr>
                <input type ="submit" value="Modify" onclick="return filter1();">
              </form>

            </div>
            <div class="column">
              <nav class="codrops-demos">
                <h1>Returned Results</h1>
  
                <div id="table-scroll">
                <table>
                  <thead>
                  <tr><th>BaseCurrency</th><th>QuoteCurrency</th><th>Date</th><th>Time</th><th>Bid</th><th>Mid</th><th>Ask</th><th>Text</th></tr>
                  <tr><td></td></tr>
                  </thead>
                  <tbody>
                    <tr><th><h3 id="BaseCurrency">N/A</h3></th>
                      <th><h3 id="QuoteCurrency">N/A</h3></th>
                      <th><h3 id="Date">N/A</h3></th>
                      <th><h3 id="Time">N/A</h3></th>
                      <th><h3 id="Bid">N/A</h3></th>
                      <th><h3 id="Mid">N/A<h3></th>
                      <th><h3 id="Ask">N/A</h3></th>
                      <th><h3 id="Text">N/A</h3></th></tr>
                  </tbody>
                </table>
              </div>

              
              </nav>
            </div>
            <div class="related">
              <p>All rights reserved by Shangshu Lu</p>
              <p><a href="#">Contact us</a></p>
              
            </div>
          </div><!-- /main -->
        </div><!-- wrapper -->
      </div><!-- /container -->
      <nav class="outer-nav top horizontal">
        <a href="/" class="icon-home">Sample1</a>
        <a href="/2a" class="icon-news">Sample2</a>
        <a href="/2b" class="icon-image">Sample3</a>
        <a href="/2c" class="icon-upload">Sample4</a>
        
      </nav>
    </div><!-- /perspective -->
    <script src="/javascripts/classie.js"></script>
    <script src="/javascripts/menu.js"></script>
    <script src="/javascripts/streamdataio.min.js"></script>
     <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
          (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='http://www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <script> 
          var eventSource = null;
          var stocks = [];
          var datas = [];
          var eventSource = null;

          window.onload = function connect() {
          //$(document).ready(function(){
            //$('#disconnect').on('click',disconnect());
            //alert("page load finished"); 
            // REPLACE WITH YOUR OWN TOKEN HERE
            $("#connect").hide();

            var appToken = "ZDI2NWVmZDgtZDYzNy00MDY1LWEyZDUtN2NjZjEwZmVjYTJj";
            var URL = "http://globalcurrencies.xignite.com/xGlobalCurrencies.json/GetRealTimeRate?Symbol=";
            var moneyType = $("#").val();
            var xigniteToken = $();

            var source = URL+moneyType+xigniteToken;
            // create the StreamdataEventSource Object
            eventSource = streamdataio.createEventSource("http://globalcurrencies.xignite.com/xGlobalCurrencies.json/GetRealTimeRate?Symbol=EURUSD&_token=D6E07153C86E41348AC10BCC8488FEC5",appToken);

            eventSource
             .onOpen(function() {
               console.log("streamdata Event Source connected.")
             })
             .onData(function(data) {
               // json object stored locally.
               // console.log('Received data: ***** ' + JSON.stringify(data));
               // stocks = data;
               var rateObject = data;
               console.log('Parsed JSON file ******'+rateObject.Outcome,rateObject.Bid);
               $("#BaseCurrency").html(rateObject.BaseCurrency);
               $("#QuoteCurrency").html(rateObject.QuoteCurrency);
               $("#Date").html(rateObject.Date);
               $("#Time").html(rateObject.Time);
               $("#Bid").html(rateObject.Bid);
               $("#Mid").html(rateObject.Mid);
               $("#Ask").html(rateObject.Ask);
               $("#Text").html(rateObject.Text);

               //alert(JSON.stringify(data));
               constructDatasArray();
             })
             .onPatch(function(patch) {
               // use json patch library to apply the patch (patch)
               // to the original snapshot (stocks)
               jsonpatch.apply(stocks, patch);
               //console.log('Received patch:!!!!!!' + JSON.stringify(patch));
               
               checkNewDatas(patch);
               cleanDatasNewTags();
               //$("#ajaxTest").html(JSON.stringify(patch));
             })
             .onError(function(error) {
               // displays the error message
               console.log(error.getMessage());
               streamdata.close();
             });

            // open the data stream to the REST service through streamdata.io proxy
            eventSource.open();

          };
          function checkNewDatas(patch) {
              // add areNew property to highlight changes
              datas.map(function(item, index) {
                  item.areNew = new Array();
              });

              patch.forEach(function(item) {
                  var index = parseInt(item.path.substring(1, item.path.indexOf('/', 1)));
                  var attribute = item.path.substring(item.path.indexOf('/', 1) + 2);
                  var value = item.value;
                  var tag = "#"+attribute;
                  console.log("attribute is "+attribute+" value is "+value+" tag is "+tag);
                  $(tag).effect("highlight");
                  $(tag).html(value);

              });
          }
          function constructDatasArray() {
            
          }
          function cleanDatasNewTags() {
              datas.map(function(item, index) {
                  delete item.areNew;
              });
          }
          function disconnect(){
            //alert("clicked");
            $('#disconnect').hide();
            $('#connect').show();
            eventSource.close();
          }
          function connect(){
            $('#disconnect').show();
            $('#connect').hide();
            eventSource.open();
          }
        </script> 

        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fast-json-patch/0.5.1/json-patch-duplex.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.0/underscore-min.js"></script>
        
  </body>
</html>